.partidas-hoje {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 100vh; /* Ocupa toda a altura da tela */
}

.partidas-grid {
  display: grid;
  grid-template-columns: ;
  grid-template-columns: repeat(3, 1fr); /* Garante exatamente 3 colunas */
  gap: 30px; /* Espaçamento entre os cards */
}

.partidas-hoje h2, .campeonatos-destaque h2, .noticias-recentes h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2rem;
  color: #333;
  position: relative;
}

.partidas-hoje h2:after, .campeonatos-destaque h2:after, .noticias-recentes h2:after {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  background-color: #1e88e5;
  margin: 15px auto 0;
}


.partida-card {
  background-color: white;
  min-width: 350px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.partida-card:hover {
  transform: translateY(-5px);
}

.partida-header {
  background-color: #f5f5f5;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.campeonato {
  font-weight: bold;
  color: #555;
}

.horario {
  color: #1e88e5;
  font-weight: bold;
}

.partida-times {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.time img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 10px;
}

.versus {
  font-weight: bold;
  color: #777;
}

.partida-footer {
  background-color: #f5f5f5;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eee;
}

.estadio {
  color: #777;
  font-size: 0.9rem;
}

.ver-mais {
  text-align: center;
  margin-top: 40px;
}
